.App {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin-top: 0;
    text-align: center;
    background-color: #29292e;
  }

  .home-back {
    font-size: 24px;
    margin: 64px 0 24px;
    color: #835AFD;
    text-decoration: none;

  }
  
  .animes-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;

    list-style: none;
  }

  .animes-list img {
    max-width: 100%;
    border: 1px solid #835AFD;
    cursor: pointer;
  }