* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  background-color: #29292e;
}

.App {
    font-family: Poppins, sans-serif;
    color: #fff;
    margin-top: 2rem;
    text-align: center;
  }
  
  .animes-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;

    list-style: none;
  }

  .animes-list img {
    max-width: 100%;
    border: 1px solid orange;
    cursor: pointer;
  }

  .search-input {
    font-family: Poppins;
    color: #000;
    margin: 1rem auto ;
    padding: 0.2rem;
    border: 1px solid orange;
    border-radius: 5px;
    background-color: #fff;

  }

  .pages {
    display: flex;
    align-items:center;
    justify-content:center;
    margin: 1rem auto;
    list-style: none;
  }

  .pages li + li {
    margin-left: 1rem;
  }

  .pages__item--active {
    font-weight: bold;
    padding: 0.3rem;
    border: 1px solid orange;

    color: #000;
    background-color:#fff;
  }

  .pages__item--active:focus {
    outline: none;
  }
  